@import "tailwindcss";
/* @import "@radix-ui/colors/mint";
@import "@radix-ui/colors/mint-alpha";
@import "@radix-ui/colors/mint-dark";
@import "@radix-ui/colors/mint-dark-alpha";
@import "@radix-ui/colors/slate";
@import "@radix-ui/colors/slate-alpha";
@import "@radix-ui/colors/slate-dark";
@import "@radix-ui/colors/slate-dark-alpha";

@import "@radix-ui/colors/white-alpha";
@import "@radix-ui/colors/black-alpha"; */

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --cyan-1: oklch(0.989 0.01 210);
  --cyan-2: oklch(0.978 0.018 210);
  --cyan-3: oklch(0.956 0.042 210);
  --cyan-4: oklch(0.931 0.062 210);
  --cyan-5: oklch(0.902 0.082 210);
  --cyan-6: oklch(0.868 0.102 210);
  --cyan-7: oklch(0.823 0.125 210);
  --cyan-8: oklch(0.762 0.153 210);
  --cyan-9: oklch(0.623 0.178 210);
  --cyan-10: oklch(0.579 0.179 210);
  --cyan-11: oklch(0.464 0.143 210);
  --cyan-12: oklch(0.348 0.095 210);
  --slate-1: oklch(0.993 0.002 256);
  --slate-2: oklch(0.982 0.002 256);
  --slate-3: oklch(0.959 0.004 256);
  --slate-4: oklch(0.936 0.006 256);
  --slate-5: oklch(0.914 0.008 256);
  --slate-6: oklch(0.889 0.01 256);
  --slate-7: oklch(0.859 0.012 256);
  --slate-8: oklch(0.811 0.016 256);
  --slate-9: oklch(0.645 0.018 256);
  --slate-10: oklch(0.601 0.02 256);
  --slate-11: oklch(0.501 0.018 256);
  --slate-12: oklch(0.378 0.016 256);
  --gray-1: oklch(0.993 0 0);
  --gray-2: oklch(0.982 0 0);
  --gray-3: oklch(0.961 0 0);
  --gray-4: oklch(0.94 0 0);
  --gray-5: oklch(0.918 0 0);
  --gray-6: oklch(0.894 0 0);
  --gray-7: oklch(0.865 0 0);
  --gray-8: oklch(0.818 0 0);
  --gray-9: oklch(0.649 0 0);
  --gray-10: oklch(0.606 0 0);
  --gray-11: oklch(0.503 0 0);
  --gray-12: oklch(0.375 0 0);
}

.dark {
  --cyan-1: oklch(0.178 0.029 210);
  --cyan-2: oklch(0.209 0.041 210);
  --cyan-3: oklch(0.272 0.076 210);
  --cyan-4: oklch(0.322 0.103 210);
  --cyan-5: oklch(0.367 0.125 210);
  --cyan-6: oklch(0.417 0.145 210);
  --cyan-7: oklch(0.484 0.164 210);
  --cyan-8: oklch(0.571 0.181 210);
  --cyan-9: oklch(0.623 0.178 210);
  --cyan-10: oklch(0.676 0.167 210);
  --cyan-11: oklch(0.843 0.107 210);
  --cyan-12: oklch(0.919 0.063 210);
  --slate-1: oklch(0.165 0.007 264);
  --slate-2: oklch(0.197 0.008 264);
  --slate-3: oklch(0.256 0.011 264);
  --slate-4: oklch(0.303 0.013 264);
  --slate-5: oklch(0.349 0.014 264);
  --slate-6: oklch(0.396 0.016 264);
  --slate-7: oklch(0.459 0.018 264);
  --slate-8: oklch(0.548 0.02 264);
  --slate-9: oklch(0.645 0.018 256);
  --slate-10: oklch(0.716 0.016 256);
  --slate-11: oklch(0.86 0.008 256);
  --slate-12: oklch(0.932 0.004 256);
  --gray-1: oklch(0.162 0 0);
  --gray-2: oklch(0.195 0 0);
  --gray-3: oklch(0.254 0 0);
  --gray-4: oklch(0.302 0 0);
  --gray-5: oklch(0.348 0 0);
  --gray-6: oklch(0.396 0 0);
  --gray-7: oklch(0.459 0 0);
  --gray-8: oklch(0.549 0 0);
  --gray-9: oklch(0.649 0 0);
  --gray-10: oklch(0.72 0 0);
  --gray-11: oklch(0.863 0 0);
  --gray-12: oklch(0.933 0 0);
}

@theme inline {
  --color-cyan-1: var(--cyan-1);
  --color-cyan-2: var(--cyan-2);
  --color-cyan-3: var(--cyan-3);
  --color-cyan-4: var(--cyan-4);
  --color-cyan-5: var(--cyan-5);
  --color-cyan-6: var(--cyan-6);
  --color-cyan-7: var(--cyan-7);
  --color-cyan-8: var(--cyan-8);
  --color-cyan-9: var(--cyan-9);
  --color-cyan-10: var(--cyan-10);
  --color-cyan-11: var(--cyan-11);
  --color-cyan-12: var(--cyan-12);
  --color-slate-1: var(--slate-1);
  --color-slate-2: var(--slate-2);
  --color-slate-3: var(--slate-3);
  --color-slate-4: var(--slate-4);
  --color-slate-5: var(--slate-5);
  --color-slate-6: var(--slate-6);
  --color-slate-7: var(--slate-7);
  --color-slate-8: var(--slate-8);
  --color-slate-9: var(--slate-9);
  --color-slate-10: var(--slate-10);
  --color-slate-11: var(--slate-11);
  --color-slate-12: var(--slate-12);
  --color-gray-1: var(--gray-1);
  --color-gray-2: var(--gray-2);
  --color-gray-3: var(--gray-3);
  --color-gray-4: var(--gray-4);
  --color-gray-5: var(--gray-5);
  --color-gray-6: var(--gray-6);
  --color-gray-7: var(--gray-7);
  --color-gray-8: var(--gray-8);
  --color-gray-9: var(--gray-9);
  --color-gray-10: var(--gray-10);
  --color-gray-11: var(--gray-11);
  --color-gray-12: var(--gray-12);
}
