---
import Layout from "../layouts/Layout.astro";
import ButtonLink from "../components/ButtonLink.astro";
---

<Layout>
  <h1 class="text-3xl font-bold pb-4">
    Welcome to my website! My name is Anindito Bhagawanta.
  </h1>
  <h2 class="text-xl font-bold pb-4">You can call me Bhaga.</h2>
  <p class="pb-4">
    I'm a software engineer from Indonesia. I mostly working in both front-end
    and back-end. When I'm not working, I mostly play video games, create some
    side projects, and tinkering with random stuff.
  </p>
  <ButtonLink href="/blog"> Check out my blog </ButtonLink>
  <ButtonLink href="/projects"> Check out my projects </ButtonLink>
  <ButtonLink href="/about"> Learn more about me </ButtonLink>
  <ButtonLink href="/uses"> See what I'm using </ButtonLink>
</Layout>
