---

---

<div
  class="max-w-full prose
  prose-headings:text-bold
  prose-a:underline
  prose-p:text-justify
  before:prose-code:content-[''] after:prose-code:content-['']
  prose-strong:text-bold
  prose-img:rounded-xl
  prose-headings:underline
  "
>
  <slot />
</div>
