---

---

<div
  class="max-w-full prose
  prose-headings:text-red-11 prose-headings:text-bold
  prose-a:underline prose-a:text-red-11 hover:prose-a:text-red-12
  prose-p:text-justify prose-p:text-gray-12
  prose-code:text-red-12 before:prose-code:content-[''] after:prose-code:content-['']
  prose-li:text-gray-12
  prose-td:text-gray-12
  prose-strong:text-gray-12 prose-strong:text-bold
  prose-img:rounded-xl
  prose-headings:underline
  marker:prose-li:text-gray-12"
>
  <slot />
</div>
