---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header class="flex place-content-between place-items-center py-4">
	<h2 class="text-2xl font-bold"><a href="/">{SITE_TITLE}</a></h2>
	<nav class="flex">
		<div class="px-2">
			<HeaderLink class="mx-2" href="/">Home</HeaderLink>
			<HeaderLink class="mx-2" href="/blog">Blog</HeaderLink>
			<HeaderLink class="mx-2" href="/about">About</HeaderLink>
		</div>
	</nav>
</header>
