---

---

<div
  class="prose
  prose-headings:text-gray-11 prose-headings:text-bold
  prose-a:underline prose-a:text-gray-11 hover:prose-a:text-gray-12
  prose-p:text-justify prose-p:text-blue-12
  prose-code:text-blue-12 before:prose-code:content-[''] after:prose-code:content-['']
  prose-li:text-blue-12
  prose-td:text-blue-12
  prose-img:rounded-xl
  prose-headings:underline
  marker:prose-li:text-blue-12"
>
  <slot />
</div>
