---
import type { CollectionEntry } from 'astro:content';
import Layout from './Layout.astro';
import FormattedDate from '../components/FormattedDate.astro';
import Prose from '../components/Prose.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate } = Astro.props;
---

<Layout>
	<article>
		<div class="pb-4">
			<div class="text-blue-11">
				<FormattedDate date={pubDate} />
				{
					updatedDate && (
						<div>
							Last updated on <FormattedDate date={updatedDate} />
						</div>
					)
				}
			</div>
			<h1 class="text-3xl font-bold pb-4 text-gray-11">{title}</h1>
			<hr />
		</div>
		<Prose>
			<slot />
		</Prose>
	</article>
</Layout>
