---
import type { CollectionEntry } from "astro:content";
import Layout from "./Layout.astro";
import FormattedDate from "../components/FormattedDate.astro";
import ReadingTime from "../components/ReadingTime.astro";
import Prose from "../components/BlogProse.astro";

type Props = CollectionEntry<"blog">["data"] & {
  body: string;
};

const { title, pubDate, updatedDate, body } = Astro.props;
---

<Layout>
  <article>
    <div class="pb-4">
      <div class="flex items-center gap-4 text-sm text-cyan-11">
        <FormattedDate date={pubDate} />
        <span>•</span>
        <ReadingTime content={body} />
        {
          updatedDate && (
            <>
              <span>•</span>
              <div>
                Last updated on <FormattedDate date={updatedDate} />
              </div>
            </>
          )
        }
      </div>
      <h1 class="text-3xl font-bold pb-4">{title}</h1>
      <hr />
    </div>
    <Prose>
      <slot />
    </Prose>
  </article>
</Layout>
