---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="mx-auto container px-4 h-screen flex flex-col antialiased">
		<Header title={SITE_TITLE} />
		<main class="pb-32 pt-8 leading-relaxed grow">
			<slot />
		</main>
		<Footer />
	</body>
</html>
